{
    "S3_ORIGINAL_IMAGE_BUCKET": "${S3_ORIGINAL_IMAGE_BUCKET}",
    "S3_TRANSFORMED_IMAGE_BUCKET": "${S3_TRANSFORMED_IMAGE_BUCKET}",
    "TRANSFORMED_IMAGE_CACHE_TTL": "${TRANSFORMED_IMAGE_CACHE_TTL}",
    "SECRET_KEY": "${SECRET_KEY}",
    "MAX_IMAGE_SIZE": "${MAX_IMAGE_SIZE}"
}
